@import url(https://fonts.googleapis.com/css?family=Lobster);
@media screen and (max-width: 767px) {
    .navbar .navbar-collapse .navbar-right > li:last-child { padding-left: 15px; padding-right: 15px; }

    .navbar .nav-collapse { margin: 7.5px auto; padding: 0; }
    .navbar .nav-collapse .navbar-form { margin: 0; }
    .nav-collapse>li { float: none; }
}

html {
    background: rgba(252,236,252,1);
    background: -moz-linear-gradient(left, rgba(252,236,252,1) 0%, rgba(251,166,225,1) 33%, rgba(253,137,215,1) 59%, rgba(255,124,216,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(252,236,252,1)), color-stop(33%, rgba(251,166,225,1)), color-stop(59%, rgba(253,137,215,1)), color-stop(100%, rgba(255,124,216,1)));
    background: -webkit-linear-gradient(left, rgba(252,236,252,1) 0%, rgba(251,166,225,1) 33%, rgba(253,137,215,1) 59%, rgba(255,124,216,1) 100%);
    background: -o-linear-gradient(left, rgba(252,236,252,1) 0%, rgba(251,166,225,1) 33%, rgba(253,137,215,1) 59%, rgba(255,124,216,1) 100%);
    background: -ms-linear-gradient(left, rgba(252,236,252,1) 0%, rgba(251,166,225,1) 33%, rgba(253,137,215,1) 59%, rgba(255,124,216,1) 100%);
    background: linear-gradient(to right, rgba(252,236,252,1) 0%, rgba(251,166,225,1) 33%, rgba(253,137,215,1) 59%, rgba(255,124,216,1) 100%);
}

body {
  color: #FFF;
  font-weight: 100;
  margin: 0;
  min-height: 100%;
  width: 100%;
}

/*Top Navigation Menu*/
.navbar-brand {
  position: relative;
  z-index: 2;
}

.navbar-nav.navbar-right .btn {
  position: relative;
  z-index: 2;
  padding: 4px 20px;
  margin: 10px auto;
}

.navbar .navbar-collapse {
  position: relative;
}
.navbar .navbar-collapse .navbar-right > li:last-child {
  padding-left: 22px;
}

.navbar .nav-collapse {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;
  padding-right: 120px;
  padding-left: 80px;
  width: 100%;
}
.navbar.navbar-default .nav-collapse {
  background-color: #f8f8f8;
}
.navbar.navbar-inverse .nav-collapse {
  background-color: #222;
}
.navbar .nav-collapse .navbar-form {
  border-width: 0; box-shadow: none;
}
.nav-collapse>li {
  float: right;
}

.btn.btn-circle {
  border-radius: 50px;
}
.btn.btn-outline {
  background-color: transparent;
}

footer {
  height: 30px;
  background-color: #C21292;
}

/*Contact Us Form*/
.contactTitle {
    text-align:center;
    font-size: 28px;
    font-family: 'Lobster', cursive;
}
/*panel align center*/
.col-centered{
    float: none;
    margin: 0 auto;
    padding-top:5px;
}
/*property for the bootstrap panel*/
.panel  {
-webkit-box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
-moz-box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
}

.panel-default > .panel-heading {
  color: #000 !important;
  background: #C21292; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left top, #C21292, #ffffff); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom right, #C21292, #ffffff); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom right, #C21292, #ffffff); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom right, #C21292, #ffffff); /* Standard syntax */
  border-color: #99ccff !important;
  height:80px;
}

/*property for the HTML input placeholder*/
input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; } /* FF 4-18 */
input:focus::-moz-placeholder { color:transparent; } /* FF 19+ */
input:focus::-moz-placeholder { color:transparent; } /* FF 19+ */
input:focus:-ms-input-placeholder { color:transparent; } /* IE 10+ */

/*property for reset button*/
button[type="reset"]    {
    background-color:transparent;
    border:1px solid black;
}

/*Glyphicon color*/
.pink   {
    color: #C21292;
}
